    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Team#Yannick#Momo#Polo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/welcome">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/team">Team</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/contact">Contact</a>
      </li>

    </ul>
  </div>
</nav>
<center>

<div class="card">
  <div class="card-header">
  <%=  @id_users.first_name %>,<%=  @id_users.last_name %>
  </div>
  <div class="card-body">
    <h5 class="card-title">Nom prénom :  <%=  @id_users.email %> </h5>
    <p class="card-text">Description : <%=  @id_users.description %><br></p>
    <a href="#" class="btn btn-primary">  age : <%=  @id_users.age %></a>
  </div>
</div>
<style>

body { background: -webkit-linear-gradient(left, #25c481, #25b7c4);
    background: linear-gradient(to right, #25c481, #25b7c4);
    
}
</style>
</center>
